*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f5f6fa;
}

.container{
    display:flex;
}

.sidebar{
    width:240px;
    height:100vh;
    background: #eb830c; 
   color:white;
    padding:20px;
}

.logo{
    font-size:22px;
    font-weight:bold;
    margin-bottom:30px;
}

.menu{
    list-style:none;
}

.menu li{
    padding:12px 10px;
    margin-bottom:10px;
    cursor:pointer;
    border-radius:6px;
}

.menu li:hover,
.menu .active{
    background:#1e2a55;
}
.main-content{
    flex:1;
    padding:20px 40px;
}
.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.topbar input{
    width:300px;
    padding:10px;
    border-radius:8px;
    border:1px solid #ddd;
}

.top-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.admin-profile small{
    display:block;
    color:gray;
    font-size:12px;
}
.dashboard-header h1{
    font-size:28px;
    margin-bottom:5px;
}
.dashboard-header p{
    color:gray;
    margin-bottom:25px;
}
.stats{
    display:flex;
    gap:20px;
    margin-bottom:30px;
}
.card{
    flex:1;
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.card h3{
    font-size:14px;
    color:gray;
}
.card h2{
    margin-top:10px;
    font-size:26px;
}
.actions{
    display:flex;
    gap:20px;
    margin-bottom:30px;
}
.action-box{
    flex:1;
    padding:15px;
    background:#2563eb;
    color:white;
    border-radius:8px;
    cursor:pointer;
    text-align:center;
}
.action-box.secondary{
    background:#e5e7eb;
    color:black;
}
.student-section{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,0.05);
}
.student-header{
    display:flex;
    justify-content:space-between;
    margin-bottom:15px;
}

.student-header a{
    text-decoration:none;
    color:#2563eb;
    font-size:14px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th, td{
    padding:12px;
    text-align:left;
    border-bottom:1px solid #eee;
}

.active-status{
    color:green;
    font-weight:bold;
}

.pending-status{
    color:orange;
    font-weight:bold;
}
span {
    color: #6f00ff;
}